/* --------------------menu bar-------------------- */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #EA8CB1;
  position: fixed;
  top: 0;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin: 20px;
}

.nav_logo {
  display: flex;
  align-items: center;
}

.nav_btn button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.nav_btn button :hover {
  background-color: #D9D9D9;
}

a {
  text-decoration: none;
  color: #000000;
}

.nav-search input {
  padding: 10px;
  width: 500px;
  height: 20px;
  border-radius: 10px;
  outline: none;
}

.active {
  border-bottom: 3px solid #D9D9D9;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #D9D9D9;
  font-family: sans-serif;
}

.buyer_container {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}
.buyer_container #shop_container_section {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #D9D9D9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 10px;
}
.buyer_container #shop_container_section h2 {
  align-self: center;
}
.buyer_container #shop_container_section .cart_total {
  align-self: end;
  margin-right: 50px;
}
.buyer_container #shop_container_section .cart_total {
  font-size: 30px;
}
.buyer_container .cart_column {
  margin: 20px;
  border-bottom: 1px solid black;
}
.buyer_container .cart_column img {
  width: 50px;
  height: 50px;
}
.buyer_container .cart_row {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.buyer_container .cart_row .remove_btn {
  padding: 10px;
  background-color: #e01616;
  border: none;
  border-radius: 5px;
}
.buyer_container .cart_row .quantity_of_product {
  width: 30px;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
}
.buyer_container .btn_purchase {
  margin-top: 20px;
  width: 200px;
  font-size: 30px;
  padding: 20px;
  background-color: rgb(34, 131, 241);
  border-radius: 10px;
  color: white;
  border: none;
  align-self: center;
}

dialog {
  position: fixed;
  top: 14vh;
  left: 30%;
  width: 40%;
  z-index: 10;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0;
  margin: 0;
  overflow: hidden;
}
dialog header {
  font-size: 1.25rem;
  width: 100%;
  background-color: #EA8CB1;
  padding: 10px;
}
dialog section {
  padding: 10px;
}
dialog menu {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
dialog menu button {
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #EA8CB1;
  border: none;
}
dialog label {
  font-weight: bold;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
dialog input {
  display: block;
  width: 97%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}
dialog select {
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#get_user_information_contianer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}/*# sourceMappingURL=buyer.css.map */