/* --------------------import menu bar-------------------- */
/* --------------------menu bar-------------------- */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #EA8CB1;
  position: fixed;
  top: 0;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin: 20px;
}

.nav_logo {
  display: flex;
  align-items: center;
}

.nav_btn button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.nav_btn button :hover {
  background-color: #D9D9D9;
}

a {
  text-decoration: none;
  color: #000000;
}

.nav-search input {
  padding: 10px;
  width: 500px;
  height: 20px;
  border-radius: 10px;
  outline: none;
}

.active {
  border-bottom: 3px solid #D9D9D9;
}

body {
  margin: 0;
  padding: 0;
  height: 90vh;
  font-family: sans-serif;
}

.list_product_container {
  padding: 130px 10px 10px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list_product_container .product {
  padding: 10px;
  margin: 10px;
  width: 250px;
  background-color: #EA8CB1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.list_product_container .product img {
  width: 250px;
  height: 45vh;
}
.list_product_container .product .product_detail {
  padding: 10px;
}
.list_product_container .product .product_detail button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  width: 150px;
  background-color: #D9D9D9;
  border-color: none;
}

dialog {
  position: fixed;
  top: 10vh;
  left: 25%;
  width: 50%;
  z-index: 10;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0;
  margin: 0;
  overflow: hidden;
}
dialog header {
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
  background-color: #EA8CB1;
  padding: 10px;
}
dialog section {
  padding: 10px;
  display: flex;
}
dialog section .img_product {
  margin-right: 15px;
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 10px;
}
dialog section .img_product img {
  width: 250px;
  height: 50vh;
}
dialog section .img_product .group_star {
  margin: 15px;
  text-align: center;
}
dialog section .img_product .group_star i {
  font-size: 30px;
  color: #ff4500;
}
dialog section .detail_product {
  display: flex;
  flex-direction: column;
}
dialog section .detail_product .addToCard {
  display: flex;
  flex-direction: column;
}
dialog section .detail_product .addToCard .quantity {
  display: flex;
}
dialog menu {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
dialog menu button {
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #EA8CB1;
  border: none;
}
dialog label {
  font-weight: bold;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
dialog input {
  display: block;
  width: 25%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}
dialog select {
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#detail_product_dialog {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}/*# sourceMappingURL=main.css.map */