/* --------------------import menu bar-------------------- */
@import "Component/navbar";
@import "global/varible";
body{
    margin: 0;
    padding: 0;
    height: 90vh;
    font-family: sans-serif;
}
.home_container{
    height: 100vh;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    .group_item{
    margin: 10px;
    display: flex;
    flex-direction: column;
    img{

        width: 200px;;
        height: auto;
        
    }
    button{
        padding: 10px;
        border-radius: 10px;
        border-color: $mainColor;
        background-color: $subColor;
    }
}
    
}

