<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seller page</title>
    <link rel="stylesheet" href="../../css/buyer.min.css">
    
</head>
<body>
    <nav>
        <div class="nav_logo">
            <img src="../../img/homepage.png" alt="" width="150px">
            <p>Easy Online</p>
        </div>
        <div class="nav-search">
            <input type="text" id="search_item" placeholder="Search here" onkeyup="search()">
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li class="active"><a href="buyer.html">Shop</a></li>
                <li><a href="../seller/seller.html">Seller</a></li>
            </ul>
        </div>
        <div class="nav_btn">
            <button>SIGN IN</button>
            <button>SIGN UP</button>
        </div>
    </nav>
    <div class="buyer_container">

        <section id="shop_container_section">
            <h2 class="section_header">CART</h2>
            <div class="cart_row">
                <span class="cart_item cart_header cart_column">ITEM</span>
                <span class="cart_price cart_header cart_column">PRICE</span>
                <span class="cart_quantity cart_header cart_column">QUANTITY</span>
            </div>
            <div class="cart_item" id="cart_item">
                <!-- <div class="cart_row">
                    <div class="cart_item cart_column" id="cart_item">
                        <img class="cart_item_image" src="../../img/T-shirt1.jfif" alt="" >
                        <span class="cart_item_title">T-Shirt</span>
                    </div>
                    <span class="cart_price cart_column" >$ 9.99</span>
                    <div class="cart_quantity_input cart_column">
                        <input type="number" id="quantity_of_product" value="1">
                        <button class="remove_btn" type="button">REMOVE</button>
                    </div>
                </div>
                <div class="cart_row">
                    <div class="cart_item cart_column" id="cart_item">
                        <img class="cart_item_image" src="../../img/T-shirt1.jfif" alt="" >
                        <span class="cart_item_title">T-Shirt</span>
                    </div>
                    <span class="cart_price cart_column" >$ 9.99</span>
                    <div class="cart_quantity_input cart_column">
                        <input type="number" id="quantity_of_product" value="1">
                        <button class="remove_btn" type="button">REMOVE</button>
                    </div>
                </div> -->
            </div>
            <div class="cart_total">
                <strong class="cart_total_title">Total</strong>
                <span class="cart_total_price">$ 99.99</span>
            </div>
            <button class="btn_purchase" type="button">PURCHASE</button>
    
        </section>
    </div>
</body>
<script src="buyer.js"></script>
</html>