<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seller page</title>
    <link rel="stylesheet" href="../../css/seller.min.css">

</head>
<body>
    <nav>
        <div class="nav_logo">
            <img src="../../img/homepage.png" alt="" width="150px">
            <p>Easy Online</p>
        </div>
        <div class="nav-search">
            <input type="text" placeholder="Search here">
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="buyer.html">Buyer</a></li>
                <li><a href="../seller/seller.html">Seller</a></li>
            </ul>
        </div>
        <div class="nav_btn">
            <button>SIGN IN</button>
            <button>SIGN UP</button>
        </div>
    </nav>
</body>
<script src="buyer.js"></script>
</html>